button{
    font-size: larger;
    font-weight: 600;
    width: 120px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    border: none;
    border-radius: 8px;
    
}

button:hover{
    font-size: larger;
    font-weight: 600;
    width: 120px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(250, 0, 0);
    border: none;
    border-radius: 8px;
    
}
button:active{
    font-size: larger;
    font-weight: 600;
    width: 120px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    
}